{% extends "base.html" %}
{% block body %}

    {% for livre in listLivre %}
     <div class="col-md-3 mt-4">
       <div class="card index-liv" >
         <img src="{{livre.img.url}}" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">{{livre.titre|truncatewords:1}}</h5>
           <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
           <a href="{% url 'blog:detLivre' livre.id %}" class="btn btn-outline-info">details</a>
           <a href="{% url 'panie:setPanier' livre.id %}" class="btn btn btn-outline-warning">add card</a>
        </div>
      </div>
     </div>

    {% endfor %}
{% endblock body %}
